<% if flash[:notice] %>
  <div class="notice_explanation">
    <%= flash[:notice] %>
    <% flash.clear %>
  </div>
<% end %>

<h2>Project: <%= @project.name %></h2>
<p>
  <strong>Description:</strong> 
  <%= @project.description %>
</p>

<table> 
  <tr>
    <th>Team members on this project</th>
  <tr>
  <% @project.users.each do |user| %>
  <tr>
    <td><li><%= user.name %> <%= '(project creator)' if UserProject.find_by(user_id: user.id, project_id: @project.id).project_creator == true %></li></td> 
  </tr>
  <% end %>
</table>

<div class="container">
<div class="col">
<div id="tasks_list">
  <h4>Tasks To Do</h4>
    <% @project.tasks.not_completed.each do |task| %>
      <li><a href="#" onclick="displayTask(event, <%=task.id%>); return false;" data-id="<%=task.id%>"><%=task.content%></a></li>
    <% end %>
    <div id="task_added"></div><br>

  <% if @project.tasks.completed.empty? == false %>
  <h4>Tasks Completed</h4>
    <% @project.tasks.completed.each do |task| %>
      <li><a href="#" onclick="displayTask(event, <%=task.id%>); return false;" data-id="<%=task.id%>"><%=task.content%></a></li>
    <% end %>
  <% end %><br>
</div>
</div>

<div class="col">
<strong>Task Details</strong>
<div id="task_details"></div>



<br>
</div>
</div>

<div class="footer">
<br>
<div id="task_form"></div><br>
<a href="#" onclick="displayCreateTaskForm(<%=@project.id%>); return false;" data-id="<%=@project.id%>">Add Task</a> | 
<%= link_to "Edit Project", edit_project_path(@project) %> | 
<%= link_to "Delete Project", @project, method: :delete %><br><br>
</div>